@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color : #183b56;
    --secendary-text-color : #577592;
    --accent-color : #2294ed;
    --accent-color-dark : #1d69a3;
    --padding-inline-section : 20px;
}

/* RESETS */

body{
    font-family: 'Poppins', 'sans-serif';
    color: var(--primary-text-color);
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p{
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.25rem;
    color: var(--secendary-text-color);
    line-height: 1.8rem;;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}

/* UTILITIES */

.small-bold-text{
    font-size: 1rem;
    font-weight: 700; 
}

.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}

.flex{
    display: flex;
    align-items: center;
}

/* top banner */

.top-banner{
    background-image: url('/assets/asset\ 32.png');
    background-size: 300px;
    background-color: #4fb3d4;
}

.banner-text{
    color: black;
    padding: 15px 30px;
    text-align: center;
}

/* navigation bar */

.main-nav{
    margin-top: 20px;
    justify-content: space-between;
}

.company-logo img{
    width: 200px;
}

.nav-links{
    flex-basis: 730px;
}

.nav-links ul{
    justify-content: end;
    gap: 40px;
}

.hover-links{
    color: var(--primary-text-color);
}

.hover-links:hover{
    color: var(--accent-color);
    transition: 0.2s ease-out;
}

.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 500;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secendary-text-color);
    transition: 0.2s ease-out;
}

.primary-button:hover{
    background-color: var(--accent-color-dark);
}

.secondary-button{
    border: 0.5px solid var(--secendary-text-color);
    border-radius: 6px;
    font-weight: 500;
    color: var(--primary-text-color);
    padding: 12px 24px;
    transition: 0.2s ease-out;
}

.secondary-button:hover{
    border-color: var(--accent-color);
    color: var(--accent-color);
}

/* header section */

header{
    padding: 50px var(--padding-inline-section) 0px;
}

.header-section{
    justify-content: center;
    gap: 50px;
}

.header-right img{
    width: 600px;
}

.header-left{
    max-width: 40vw;
}
.header-left h1{
    margin-top: 20px;
}

.header-left a{
    margin-top: 20px;
}

/* companies section */

.company-header{
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);
    font-weight: 500;
    padding-top: 30px;
}

.logos{
    justify-content: space-between;
}

.logo{
    height: 46px;    
}

/* features section */

.features-section{
    padding: 80px var(--padding-inline-section) 0;
    background-image: url(./assets/asset\ 34.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.features-header{
    text-align: center;
}

.features-section h2{
    margin-bottom: 20px;
}

.features-area{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
}

.features-card{
    flex-direction: column;
    gap: 20px;
    max-width: 25%;
    text-align: center;
}

/* big features section */

.big-features-section{
    padding: 30px var(--padding-inline-section) 0;
}

.big-features-container{
    gap: 30px;
}

.features-img img{
    width: 100%;
}

.features-description{
    flex-direction: column;
    text-align: left;
    align-items: flex-start; 
}

.features-description img{
    height: 30px;
    margin: 20px 0px 20px;
}

.testemonials{
    background-image: url("./assets/asset\ 35.svg");
    background-repeat: no-repeat;
    flex-direction: column;
    margin-bottom: 0px;
    padding-bottom: 5px;
}

.testemonials h4{
    width: 450px;
    padding: 30px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.profile{
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 0px;
}

.profile-desc{
    flex-direction: column;
    align-items: center;
}

.profile img{
    padding-right: 4px;
    height: 50px;
}

.profile-desc p{
    color: var(--secendary-text-color);
    font-weight: 100;
    font-size: 12px;
    padding-left: 10px;
}

/* examples section */

.examples-header{
    text-align: center;
}

.examples-header h2{
    margin-bottom: 20px;
}

.examples-area{
    justify-content: space-between;
    margin-block: 30px;
}

.examples-card{
    width: 23%;
    position: relative;
    min-height: 300px;
    transition: 0.2s ease-out;
}

.examples-card h3{
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

.examples-card:hover{
    box-shadow: 0 0 10px #888;
}

/* cta section */

.cta-section{
    padding: 120px var(--padding-inline-section) 80px;
    background-color: #183b56;
}

.cta-section-container{
    flex-direction: column;
    color: white;
    background-color: var(--primary-text-color);
}

.cta-section-container h2{
    margin-top: 90px;
    margin-bottom: 50px;
}

.cta-section-container p{
    margin-bottom: 40px;
    color: white;
}

.cta-section-container a{
    color: white;
    margin-bottom: 50px;
}

/* footer section */

footer{
    background-color: #ebf2fa;
    padding-top: 80px;
}

.footer-section-container{
    background-color: #ebf2fa;
    align-items: flex-start;
    justify-content: space-between;
    
}

.link-column{
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

/* sub footer section */

.sub-footer{
    background-color: #b9cde4;
    padding: var(--padding-inline-section);

}

.sub-footer-container{
    justify-content: center;
    gap: 30px;
}
